
__pycache__/desktop.ini
assets/desktop.ini
assets/icons/desktop.ini
build/assets/desktop.ini
build/assets/icons/desktop.ini
build/certifi/desktop.ini
build/cryptography-2.8-py3.8.egg-info/desktop.ini
build/cryptography/desktop.ini
build/cryptography/hazmat/bindings/desktop.ini
build/cryptography/hazmat/desktop.ini
build/desktop.ini
build/lib-dynload/desktop.ini
build/PIL/desktop.ini
build/PyQt5/desktop.ini
build/PyQt5/Qt/desktop.ini
build/PyQt5/Qt/plugins/audio/desktop.ini
build/PyQt5/Qt/plugins/bearer/desktop.ini
build/PyQt5/Qt/plugins/desktop.ini
build/PyQt5/Qt/plugins/egldeviceintegrations/desktop.ini
build/PyQt5/Qt/plugins/iconengines/desktop.ini
build/PyQt5/Qt/plugins/imageformats/desktop.ini
build/PyQt5/Qt/plugins/mediaservice/desktop.ini
build/PyQt5/Qt/plugins/platforminputcontexts/desktop.ini
build/PyQt5/Qt/plugins/platforms/desktop.ini
build/PyQt5/Qt/plugins/platformthemes/desktop.ini
build/PyQt5/Qt/plugins/playlistformats/desktop.ini
build/PyQt5/Qt/plugins/xcbglintegrations/desktop.ini
build/PyQt5/Qt/translations/desktop.ini
build/simplejson/desktop.ini
desktop.ini
